[Desktop Entry]
Name=Slack (Wayland)
StartupWMClass=Slack
Comment=Slack Desktop
GenericName=Slack Client for Linux
Exec=/usr/bin/slack -s %U --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
