# vim: noexpandtab sw=8
[include]
	path = .gitconfig.local
[user]
	name = pbzweihander
	email = pbzweihander@gmail.com
[core]
	editor = kak
	pager = less -+XF -Qc
	excludesfile = ~/.gitexclude
	fscache = yes
	autocrlf = no
	quotepath = no
	precomposeunicode = yes
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
	tool = vimdiff
	compactionHeuristic = true
[difftool]
	prompt = no
[fetch]
	prune = yes
[branch]
	autosetuprebase = always
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = pbzweihander
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
	stash = false
[interactive]
	diffFilter = delta --color-only --features=interative
[init]
	defaultBranch = main

[delta]
	features = decorations
	pager = less -+XF -Qc
	plus-style = syntax "#03491b"
	minus-style = syntax "#4d0300"
