[Desktop Entry]
Name=i3 (with systemd-cat)
Comment=improved dynamic tiling window manager
Exec=systemd-cat --identifier=i3 i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
