[Unit]
Description=Lightweight, fast and extensible input method framework
Documentation=man:nimf(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nimf

[Install]
WantedBy=sway-session.target
