[Unit]
Description=The Lounge IRC client

[Service]
Type=simple
ExecStart=/usr/bin/env thelounge start
Environment="PATH=/bin:/usr/bin:/home/thomas/.npm-global/bin"
User=thomas
Group=thomas
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
